<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 성공</title>
</head>
<body>
    <div id="text"></div>
    <br /><br />
    <a href="/">홈 화면</a>
</body>
<script>
    const logined = JSON.parse(localStorage.getItem("logined"));

    if (logined) {
        document.getElementById("text").innerHTML =
            `<span>${logined.email}</span>님 환영합니다.</span>`;
    }
</script>
</html>
