<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 찾기</title>
</head>
<body>
    <h1>이메일 찾기 페이지</h1>
    <form>
        <input type="text" placeholder="이메일 입력해주세요" name="email" required><br><br>
        <button type="submit">이메일 찾기</button>
    </form>
</body>
</html>
