<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 찾기</title>
</head>
<body>
    <h1>이메일 찾기 페이지</h1>
    <form>
        <input type="tel" name="tel" placeholder="000" required />-
        <input type="tel" name="tel" placeholder="0000" required />-
        <input type="tel" name="tel" placeholder="0000" required />

        <button type="submit">이메일 찾기</button>
    </form>

    <div id="result"></div>
    <br /><br />
    <a href="/">홈 화면</a>
</body>
<script src="/static/js/searchEMAIL.js"></script>
</html>
